@import "bootstrap";


.green{
	background-color: green;
}

.yello{
	background-color: yello;
}

.orange{
	background-color: orange;
}

.red{
	background-color: red;
}

.purple{
	background-color: purple;
}

.maroon{
	background-color: maroon;
}

.gray{
	background-color: gray;
}


h1{
	color: #fff;
	padding:20px;
	letter-spacing: 1px;
}

p{
	color: #fff;
	padding: 20px;
	letter-spacing: 1px;
}









